---
import PythonIcon from "./icons/Python.astro";
import DjangoIcon from "./icons/Django.astro";
import MarkdownIcon from "./icons/Markdown.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkIcon from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import CSSIcon from "./icons/CSS.astro";
import HTMLIcon from "./icons/HTML.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ReactIcon from "./icons/React.astro";

const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-blue-500 text-white",
        icon: PythonIcon,
    },
    DJANGO: {
        name: "Django",
        class: "bg-green-500 text-white",
        icon: DjangoIcon,
    },
    MARKDOWN: {
        name: "Markdown",
        class: "bg-gray-500 text-white",
        icon: MarkdownIcon,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-purple-500 text-white",
        icon: BootstrapIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-500 text-white",
        icon: JavaScriptIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-500 text-white",
        icon: CSSIcon,
    },
    HTML: {
        name: "HTML",
        class: "bg-red-500 text-white",
        icon: HTMLIcon,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-blue-500 text-white",
        icon: TailwindIcon,
    },
    REACT: {
        name: "React",
        class: "bg-blue-500 text-white",
        icon: ReactIcon,
    },
};
const PROJECTS = [
    {
        title: "Wiki",
        description:
            "Este proyecto es un sitio web tipo enciclopedia construido con Django, llamado 'wiki', que contiene una única aplicación llamada 'encyclopedia'",
        link: "https://project-01-wiki-3a0d7fecf703.herokuapp.com/",
        github: "https://github.com/sandovaldavid/project1_wiki",
        image: "projects/project-01-wiki.webp",
        tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.MARKDOWN, TAGS.BOOTSTRAP],
    },
    {
        title: "Auctions",
        description:
            "El Sitio de Subastas es una aplicación web donde los usuarios pueden crear, pujar y gestionar subastas en línea. Proporciona una plataforma para que los usuarios enumeren artículos para la venta, realicen ofertas competitivas e interactúen con la comunidad de subastas a través de comentarios y listas de seguimiento.",
        link: "https://project-02-commerce-b19e4e9c3af7.herokuapp.com/",
        github: "https://github.com/sandovaldavid/Project02_Commerce",
        image: "projects/project-02-auctions.webp",
        tags: [
            TAGS.DJANGO,
            TAGS.PYTHON,
            TAGS.BOOTSTRAP,
            TAGS.JAVASCRIPT,
            TAGS.CSS,
            TAGS.HTML,
        ],
    },
    {
        title: "Codificador de Mensajes",
        description:
            "Esta pagina web consiste en encriptar un texto ingresado por el usuario y en la misma página puede desencriptar el mensaje si el usuario lo desea.",
        link: "https://sandovaldavid.github.io/Proyecto-Codificador/",
        github: "https://github.com/sandovaldavid/Proyecto-Codificador",
        image: "projects/project-03-codificador.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
    },
    {
        title: "Search",
        description:
            "Contiene una implementación de una interfaz de búsqueda inspirada en Google, con funcionalidades avanzadas y búsqueda de imágenes, diseñada para ser desplegada como un proyecto de contenido estático.",
        link: "https://sandovaldavid.github.io/project0_search/search/",
        github: "https://github.com/sandovaldavid/project0_search",
        image: "projects/project-04-search.webp",
        tags: [TAGS.CSS, TAGS.HTML],
    },
    {
        title: "Contador de Clicks",
        description:
            "Esta pagina web consiste en un contador de clicks, donde el usuario puede aumentar o disminuir el contador.",
        link: "https://contador-clicks-43i5fkaed-sandovaldavids-projects.vercel.app",
        github: "https://github.com/sandovaldavid/contador-clicks",
        image: "projects/project-04-search.webp",
        tags: [TAGS.CSS, TAGS.HTML, TAGS.REACT],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt={`${title} project image`}
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
                            {tags.map((tag) => (
                                <li class="mb-3">
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="mt-2 text-gray-700 dark:text-gray-400">
                            {description}
                        </div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHubIcon class="size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <LinkIcon class="size-4" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
