---
import PythonIcon from './icons/Python.astro';
import DjangoIcon from './icons/Django.astro';
import MarkdownIcon from './icons/Markdown.astro';
import GitHubIcon from './icons/GitHub.astro';
import LinkIcon from './icons/Link.astro';
import LinkButton from './LinkButton.astro';
import BootstrapIcon from './icons/Bootstrap.astro';
import JavaScriptIcon from './icons/JavaScript.astro';
import CSSIcon from './icons/CSS.astro';
import HTMLIcon from './icons/HTML.astro';
import TailwindIcon from './icons/Tailwind.astro';
import ReactIcon from './icons/React.astro';
import NextJSIcon from './icons/NextJS.astro';
import MySQLIcon from './icons/MySQL.astro';
import MaterialUIIcon from './icons/MaterialUI.astro';
import PostgreSQLIcon from './icons/PostgreSQL.astro';
import ExpressIcon from './icons/Express.astro';
import CloudinaryIcon from './icons/Cloudinary.astro';
import SQLiteIcon from './icons/SQLite.astro';
import { getLangFromUrl } from '../i18n/utils';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(new URL(Astro.request.url));

const TAGS = {
	PYTHON: {
		name: 'Python',
		class: 'bg-blue-500 text-white',
		icon: PythonIcon,
	},
	DJANGO: {
		name: 'Django',
		class: 'bg-green-500 text-white',
		icon: DjangoIcon,
	},
	MARKDOWN: {
		name: 'Markdown',
		class: 'bg-gray-500 text-white',
		icon: MarkdownIcon,
	},
	BOOTSTRAP: {
		name: 'Bootstrap',
		class: 'bg-purple-500 text-white',
		icon: BootstrapIcon,
	},
	JAVASCRIPT: {
		name: 'JavaScript',
		class: 'bg-yellow-500 text-white',
		icon: JavaScriptIcon,
	},
	CSS: {
		name: 'CSS',
		class: 'bg-blue-500 text-white',
		icon: CSSIcon,
	},
	HTML: {
		name: 'HTML',
		class: 'bg-red-500 text-white',
		icon: HTMLIcon,
	},
	TAILWIND: {
		name: 'Tailwind',
		class: 'bg-blue-500 text-white',
		icon: TailwindIcon,
	},
	REACT: {
		name: 'React',
		class: 'bg-blue-500 text-white',
		icon: ReactIcon,
	},
	NEXTJS: {
		name: 'Next.js',
		class: 'bg-black text-white',
		icon: NextJSIcon,
	},
	MYSQL: {
		name: 'MySQL',
		class: 'bg-blue-500 text-white',
		icon: MySQLIcon,
	},
	MATERIALUI: {
		name: 'Material-UI',
		class: 'bg-white text-blue-600',
		icon: MaterialUIIcon,
	},
	POSTGRESQL: {
		name: 'PostgreSQL',
		class: 'bg-blue-500 text-white',
		icon: PostgreSQLIcon,
	},
	EXPRESS: {
		name: 'Express',
		class: 'bg-black text-white border border-withe',
		icon: ExpressIcon,
	},
	CLOUDINARY: {
		name: 'Cloudinary',
		class: 'bg-white text-blue-900',
		icon: CloudinaryIcon,
	},
	SQLITE: {
		name: 'SQLite',
		class: 'bg-blue-500 text-white',
		icon: SQLiteIcon,
	},
};
const PROJECTS_DATA = {
	es: [
		{
			title: 'Wiki',
			description:
				"Este proyecto es un sitio web tipo enciclopedia construido con Django, llamado 'wiki', que contiene una única aplicación llamada 'encyclopedia'",
			link: 'https://wiki.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-01-wiki',
			image: '/projects/project-01-wiki.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.MARKDOWN, TAGS.BOOTSTRAP],
		},
		{
			title: 'Auctions',
			description:
				'El Sitio de Subastas es una aplicación web donde los usuarios pueden crear, pujar y gestionar subastas en línea. Proporciona una plataforma para que los usuarios enumeren artículos para la venta, realicen ofertas competitivas e interactúen con la comunidad de subastas a través de comentarios y listas de seguimiento.',
			link: 'https://auctions.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-02-auctions',
			image: '/projects/project-02-auctions.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Codificador de Mensajes',
			description:
				'Esta pagina web consiste en encriptar un texto ingresado por el usuario y en la misma página puede desencriptar el mensaje si el usuario lo desea.',
			link: 'https://codificador.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Challenge-01--Codificador',
			image: '/projects/project-03-codificador.webp',
			tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Clinica Dental',
			description:
				'Una página de destino moderna y responsiva para una clínica dental centrada en la atención preventiva y la educación dental.',
			link: 'https://dental-clinic.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Dental-Clinic',
			image: '/projects/project-06-clinica-dental.webp',
			tags: [TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Lectures Management',
			description:
				'Una aplicación web moderna para gestionar clases con operaciones CRUD (Crear, Leer, Actualizar, Eliminar). Desarrollada con JavaScript básico y una API RESTful.',
			link: 'https://lectures-management.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Lectures-Management',
			image: '/projects/project-07-lectures-management.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.SQLITE, TAGS.EXPRESS],
		},
		{
			title: 'Lista de Facultades',
			description:
				'Aplicación web para la gestión de facultades universitarias. Este proyecto ofrece una interfaz CRUD (Crear, Leer, Actualizar, Eliminar) completa para la gestión de facultades con un diseño moderno y responsivo.',
			link: 'https://facultades-unp.devsandoval.me',
			github: 'https://github.com/sandovaldavid/list-faculties-unp',
			image: '/projects/project-08-lista-facultades.webp',
			tags: [TAGS.TAILWIND, TAGS.CLOUDINARY, TAGS.NEXTJS, TAGS.MYSQL],
		},
		{
			title: 'Aplicaión de Notas',
			description:
				'Una aplicación de notas moderna y responsiva creada con React y Material-UI que permite a los usuarios crear, editar y administrar notas con una interfaz limpia e intuitiva.',
			link: 'https://app-notes-dev.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/app-notes-dev',
			image: '/projects/project-09-app-notes.webp',
			tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.POSTGRESQL, TAGS.EXPRESS],
		},
		{
			title: 'Juego de Ahorcados',
			description:
				"Un juego clásico del ahorcado implementado en HTML, CSS y JavaScript puro. El jugador debe adivinar una palabra letra por letra antes de que el dibujo del 'ahorcado' se complete.",
			link: 'https://juego-ahorcados.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/Challenge-02--Juego-Ahorcados',
			image: '/projects/project-10-juego-ahorcados.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Odontología Estética',
			description:
				'Un sitio web moderno y responsivo para una clínica dental especializada en odontología estética. Creado con HTML5, CSS3 y JavaScript básico.',
			link: 'https://odontologia-estetica.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Odontologia-Estetica',
			image: '/projects/project-11-odontologia-estetica.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Apperia',
			description:
				'Apeperia es una aplicación web responsiva que muestra servicios de desarrollo de aplicaciones web y móviles personalizadas. El proyecto demuestra técnicas de diseño responsivo modernas y un enfoque que prioriza los dispositivos móviles.',
			link: 'https://apperia.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Apperia',
			image: '/projects/project-12-apperia.webp',
			tags: [TAGS.HTML, TAGS.CSS],
		},
		{
			title: 'Fruta e Fruto',
			description:
				'Un sitio web de recetas responsivo creado con principios de arquitectura CSS modernos centrados en componentes reutilizables y código mantenible.',
			link: 'https://fruto-e-fruto.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Fruta-e-Fruto',
			image: '/projects/project-13-fruta-e-fruto.webp',
			tags: [TAGS.HTML, TAGS.CSS],
		},
		{
			title: 'Contador de Clicks',
			description:
				'Esta pagina web consiste en un contador de clicks, donde el usuario puede aumentar o disminuir el contador.',
			link: 'https://contador-clicks.devsandoval.me',
			github: 'https://github.com/sandovaldavid/contador-clicks',
			image: '/projects/project-05-contador.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.REACT],
		},
	],
	en: [
		{
			title: 'Wiki',
			description:
				"This project is a Django-built encyclopedia-type website called 'wiki', which contains a single application called 'encyclopedia'",
			link: 'https://wiki.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-01-wiki',
			image: '/projects/project-01-wiki.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.MARKDOWN, TAGS.BOOTSTRAP],
		},

		{
			title: 'Auctions',
			description:
				'El Sitio de Subastas es una aplicación web donde los usuarios pueden crear, pujar y gestionar subastas en línea. Proporciona una plataforma para que los usuarios enumeren artículos para la venta, realicen ofertas competitivas e interactúen con la comunidad de subastas a través de comentarios y listas de seguimiento.',
			link: 'https://auctions.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/project-02-auctions',
			image: '/projects/project-02-auctions.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Message Encoder',
			description:
				'This web page encrypts a text entered by the user, and on the same page, the user can decrypt the message if desired.',
			link: 'https://codificador.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Challenge-01--Codificador',
			image: '/projects/project-03-codificador.webp',
			tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Dental Clinic',
			description:
				'A modern and responsive landing page for a dental clinic focused on preventive care and dental education.',
			link: 'https://dental-clinic.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Dental-Clinic',
			image: '/projects/project-06-clinica-dental.webp',
			tags: [TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Lectures Management',
			description:
				'A modern web application for managing classes with CRUD operations (Create, Read, Update, Delete). Developed with basic JavaScript and a RESTful API.',
			link: 'https://lectures-management.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Lectures-Management',
			image: '/projects/project-07-lectures-management.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.SQLITE, TAGS.EXPRESS],
		},
		{
			title: 'Faculty List',
			description:
				'A web application for managing university faculties. This project offers a complete CRUD interface (Create, Read, Update, Delete) with a modern and responsive design.',
			link: 'https://facultades-unp.devsandoval.me',
			github: 'https://github.com/sandovaldavid/list-faculties-unp',
			image: '/projects/project-08-lista-facultades.webp',
			tags: [TAGS.TAILWIND, TAGS.CLOUDINARY, TAGS.NEXTJS, TAGS.MYSQL],
		},
		{
			title: 'Notes Application',
			description:
				'A modern and responsive notes application built with React and Material-UI, allowing users to create, edit, and manage notes with a clean and intuitive interface.',
			link: 'https://app-notes-dev.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/app-notes-dev',
			image: '/projects/project-09-app-notes.webp',
			tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.POSTGRESQL, TAGS.EXPRESS],
		},
		{
			title: 'Hangman Game',
			description:
				'A classic Hangman game implemented using pure HTML, CSS, and JavaScript. The player must guess a word letter by letter before the "hangman" drawing is completed.',
			link: 'https://juego-ahorcados.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/Challenge-02--Juego-Ahorcados',
			image: '/projects/project-10-juego-ahorcados.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Aesthetic Dentistry',
			description:
				'A modern and responsive website for a dental clinic specializing in aesthetic dentistry. Built with HTML5, CSS3, and basic JavaScript.',
			link: 'https://odontologia-estetica.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Odontologia-Estetica',
			image: '/projects/project-11-odontologia-estetica.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Apperia',
			description:
				'Apperia is a responsive web application showcasing custom web and mobile application development services. The project demonstrates modern responsive design techniques with a mobile-first approach.',
			link: 'https://apperia.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Apperia',
			image: '/projects/project-12-apperia.webp',
			tags: [TAGS.HTML, TAGS.CSS],
		},
		{
			title: 'Fruta e Fruto',
			description:
				'A responsive recipe website created using modern CSS architecture principles focused on reusable components and maintainable code.',
			link: 'https://fruto-e-fruto.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Fruta-e-Fruto',
			image: '/projects/project-13-fruta-e-fruto.webp',
			tags: [TAGS.HTML, TAGS.CSS],
		},
		{
			title: 'Click Counter',
			description:
				'This web page consists of a click counter where the user can increase or decrease the count.',
			link: 'https://contador-clicks.devsandoval.me',
			github: 'https://github.com/sandovaldavid/contador-clicks',
			image: '/projects/project-05-contador.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.REACT],
		},
	],
};

const PROJECTS = PROJECTS_DATA[lang] || PROJECTS_DATA.es;
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ image, title, description, tags, link, github }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<Image
							src={image}
							width="1600"
							height="900"
							decoding="async"
							loading="lazy"
							alt={`${title} project image`}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
							{tags.map(tag => (
								<li class="mb-3">
									<span
										class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
									>
										<tag.icon class="size-4" />
										{tag.name}
									</span>
								</li>
							))}
						</ul>

						<div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									<GitHubIcon class="size-6" />
									{lang === 'es' ? 'Código' : 'Code'}
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									<LinkIcon class="size-4" />
									{lang === 'es' ? 'Vista previa' : 'Preview'}
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
